body.early [class*="chat"],
body.early [class*="qa"],
body.late [class*="chat"],
body.late [class*="qa"] {
  display: none !important;
}

body.early .video::before,
body.late .video::before {
  align-items: center;
  color: white;
  content: "Looks like you're early for this. Please check that you have the right URL.";
  display: grid;
  justify-content: center;
}

body.late .video::before {
  content: "This session has ended.";
}

.session-console {
  background-color: var(--shade);
  border-bottom: var(--border-thin);
  border-top: var(--border-thin);
  display: grid;
  gap: 1px;

  --m-top: 0;
}

.session-console iframe {
  background-color: var(--shade);
  border: none!important;
  border-radius: 0!important;
  height: 100% !important;
  min-height: 20ch !important;
}

.cc-toggle {
  background-color: transparent;
  font-size: 0.6em;
  letter-spacing: 0.04em;
  margin-left: auto;
  padding: 0;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 2.5rem;
  z-index: 100;
}

.cc-info {
  background-color: var(--white);
  border-bottom: 2px solid var(--shade);
  bottom: unset;
  font-size: 1rem;
  left: 0;
  line-height: 1.2;
  padding: 1em;
  position: absolute;
  right: unset;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

.video,
.chat,
.qa {
  position: relative;
  z-index: 0;
}

.video:not([data-feed="true"]) {
  min-height: 600px;
}

.video:not([data-feed="true"])::before {
  content: "Video Feed";
}

.theoplayer-skin .vjs-big-play-button {
  align-items: center;
  border-radius: 0 !important;
  display: grid !important;
  height: 100% !important;
  justify-content: center;
  left: 0 !important;
  opacity: 1 !important;
  padding: 0 !important;
  top: 0 !important;
  transform: none !important;
  width: 100% !important;
}

.theoplayer-skin .vjs-big-play-button::after {
  background-color: var(--color-accent-light);
  border: var(--border-thin);
  border-radius: 0 !important;
  box-shadow: none !important;
  color: black;
  content: "Click to Begin" !important;
  font-family: "Montserrat";
  font-size: 0.8em;
  height: auto !important;
  line-height: 1;
  max-width: max-content;
  opacity: 1 !important;
  padding: 0.5em !important;
  position: relative !important;
  width: max-content;
}

/* .theoplayer-skin .vjs-big-play-button:hover::after {
  background-color: var(--white);
  color: #063897;
} */

.theo-big-play-button-svg-container {
  display: none;
}

.vjs-controls-disabled .vjs-big-play-button,
.vjs-has-started .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-error .vjs-big-play-button {
  display: none !important;
}

.theo-context-menu {
  background-color: white !important;
  color: black;
  font-size: 1rem !important;
  max-width: 20em;
  padding: 0.5em !important;
}

.theo-context-menu li + li {
  margin-top: 0.75em;
}

.theoplayer-skin.vjs-has-started .theo-player-wrapper:before {
  background: url(/media/video-placeholder.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.vjs-tech {
  pointer-events: none;
}

.vjs-loading-spinner {
    color: #063897 !important;
}

.theo-primary-color, .vjs-selected {
    color: white !important;
}

.theo-primary-background {
    background-color: #8b2434 !important;
    color: white !important;
}

.vjs-fullscreen-control .theo-button-tooltip {
  background-color: var(--color-accent);
  font-size: 1rem;
  padding: 1rem;
}

.vjs-fullscreen-control .theo-button-tooltip::after {
  content: " NOTE: You will have to exit full-screen mode (press ESC) to submit a question.";
}

.vjs-button.cc::before {
  background-image: url(/media/cc.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 1rem;
  width: 1.4rem;
}

.video-js .vjs-fullscreen-control {
  display: none !important;
}

/* Toolbar */
.console-toolbar {
  background-color: var(--color-primary-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.console-toolbar button {
  background-color: transparent;
  border: none;
  border-left: var(--border-thin);
  border-radius: 0;
  color: rgb(0 0 0 / 69%);
  font-weight: 700;
  padding: 0.5em 2em;
}

.console-toolbar button:first-child {
  border-left: 0;
  border-right: var(--border-thin);
}

.console-toolbar button:not([aria-expanded="true"]):hover {
  background-color: var(--white);
  color: black;
}

.console-toolbar .help-toggle {
  margin-right: auto;
}

.icon-button {
  align-items: center;
  display: flex;
}

.icon-button::before {
  background-color: var(--shade);
  content: "";
  display: block;
  height: 2rem;
  margin-left: -0.5em;
  margin-right: 0.5em;
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  transition: background-color 0.2s;
  width: 2rem;
}

.help-toggle::before {
  --mask: url(/media/life-buoy.svg);
}

.chat-toggle::before {
  --mask: url(/media/message-square.svg);
}

.qa-toggle::before {
  --mask: url(/media/help-circle.svg);
}

.resources-toggle::before {
  --mask: url(/media/resources.svg);
}

.fullscreen-toggle::before {
  --mask: url(/media/maximize.svg);
}

:fullscreen .fullscreen-toggle::before {
  --mask: url(/media/minimize.svg);
}

.icon-button:hover::before {
  background-color: var(--black);
}

.icon-button[aria-expanded="true"]::before {
  background-color: white;
}

/* Interactives */

.chat::before,
.qa::before {
  align-items: center;
  bottom: 0;
  color: var(--white);
  content: "Initializing " var(--widget-name);
  display: grid;
  font-size: min(10vw, 1.75rem);
  left: 0;
  line-height: 1;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -1;
}

.chat {
  --widget-name: "Chat";
}

.chat:empty::before {
  content: "Chat";
}

.qa {
  --widget-name: "Q&A";
}

.qa:empty::before {
  content: "Q&A";
}

.spinner {
  bottom: 0;
  color: var(--white);
  height: 40px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  z-index: -1;
}

.spinner .load-text{
  left: 50%;
  position: absolute;
  transform: translate3d(calc(-50% + 0.25em), 3em, 0);
}

.qa-loaded .qa .spinner {
  display: none;
}

.session-console .resources,
.session-console .troubleshooting {
  background-color: var(--white);
  border-right: 0.55rem solid var(--white);
  border-top: 0.55rem solid var(--white);
  scrollbar-color: var(--shade-light) transparent;
  scrollbar-width: 0.5rem;
}

.session-console .resources {
  border: none;
  font-size: 1rem;
  gap: 1rem;
  grid-template-rows: min-content 1fr;
  overflow: auto;
  padding: 3rem 1rem;
  text-align: center;
}

.session-console .resources:not([hidden]) {
  display: grid;
}

.session-console .resources ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  place-content: center;
}

.session-console .resources img {
  opacity: 0.2;
  transition: opacity 0.3s;
  width: 100%;
}

.session-console .resources li {
  position: relative;
}

.session-console .resources a {
  text-decoration: none;
}

.session-console .resources a:hover img {
  opacity: 0.4;
}

.custom-scroller::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
}

.custom-scroller:hover::-webkit-scrollbar-thumb {
  background-color: var(--shade-light);
}

@media (max-width: 999px) {
  .console-toolbar > button {
    border: 1px solid var(--shade);
    flex-grow: 1;
    justify-content: center;
  }

  .fullscreen-toggle {
    display: none;
  }
}

@media (min-width: 1000px) {
  .session-console {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: calc(56.25vw + var(--toolbar-h));
    max-height: calc(80vh + var(--toolbar-h));

    --toolbar-h: 3rem;
  }

  .video {
    align-items: center;
    display: grid;
    grid-row: 1;
  }

  .video .video-js {
    height: 100% !important;
    padding: 0 !important;
  }

  .console-toolbar {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .session-console .toggle {
    grid-column: 2;
    grid-row: 1;
    width: 20rem;
  }

  .session-console .troubleshooting {
    font-size: 1rem;
    overflow: auto;
    padding: 3rem 1rem;
  }

  .troubleshooting:not([hidden]) {
    display: block;
  }

  .troubleshooting h2 {
    font-size: 1.5rem;
  }

  .troubleshooting ol {
    padding-left: 1.5em;
  }

  .theoplayer-skin.vjs-has-started .theo-player-wrapper:before {
    background-size: cover;
  }
}