:root {

  --color-primary: #00468a;
  --color-primary-dark: #013088;
  --color-primary-xdark: #001b4d;
  --color-primary-light: #b5d7f0;

  --color-accent: #8b2434;
  --color-accent-2: var(--color-primary-light);

  --bg-texture: url(/media/texture.png);

  --theo-bg-color: white;

  --backup-fonts: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

p {
  position: relative;
}

footer {
  background-image: url(/media/wave-bg.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100vw;
  padding: min(5vw, 5rem);
  position: relative;
}

.main-nav {
  --bg-color: var(--color-primary-xdark);
  --color: var(--white);
}

.btn-primary {
  color: var(--tint-heavy);
  font-weight: 700;
}

.event-logo {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.event-intro {
  background-color: var(--color-primary-dark);
  background-image: linear-gradient(to top, transparent 90%, rgba(0 0 0 / 20%));
  color: white;

  --m-top: 0;
}

.event-intro :is(h1, h2) {
  color: white;
  font-size: 2.3em;
}

.intro-deets {
  display: grid;
  gap: 1rem;
}

.event-intro .btn-primary {
  margin: 2rem;
}

.home-schedule h2 {
  font-size: 3rem;
}

.home-schedule h2 + p {
  text-align: center;
}

.home-schedule h4 {
  text-align: left;
}

.home-schedule h3 + h4 {
  margin-top: 3rem;
}

.home-schedule h3 ~ p::before {
	background-color: var(--shade-xlight);
  border-radius: 3px;
	bottom: -1rem;
	content: "";
	display: block;
	height: calc(100% + 5rem);
	left: -1rem;
	position: absolute;
	width: calc(100% + 2rem);
}

.session-bar {
  background-color: var(--color-primary-light);
}

.qa::after {
  background-color: #28346a;
}

.theoplayer-skin .vjs-big-play-button::after {
  color: white !important;
}

.breakouts-page {
  --bg-color: var(--color-primary-dark);
}

.breakouts-page h1 {
  background-color: var(--color-primary-light);
  background-image: url(/media/USA.svg), radial-gradient(transparent 50%, rgb(0 0 0 / 20%));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 300px;
  max-width: none;
  padding: 3rem min(5vw, 3rem);
  place-content: center;
  text-align: center;
}

.breakout-msg {
  padding: 3rem;
}

.breakout-msg p {
  color: white;
  padding-bottom:1rem;
  text-align: center;
}

.breakouts-page .breakouts {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: auto;
  max-width: 50rem;
  padding: 2rem;
  width: 100%;

  --m-top: 0;
}

.breakouts a {
  background-color: var(--color-primary-light);
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.breakouts a:not([href]) {
  opacity: 0.6;
}

.breakouts a:hover,
.breakouts a:focus {
  color: white;
}

.vod-list-page .horiz-list {
  gap: 1rem;
  justify-content: center;
  --m-top: 0;
}

.vod-list-page .vods {
  display: grid;
	gap: 4rem;
	justify-items: center;
}

.vod-list-page main {
  padding-top: 5rem;
}

.vod-list-page main li {
  display: grid;
  place-content: center;
}

.session-console .resources {
  gap: 2rem;
}

.session-console .resources li {
  text-align: center;
  width: 70%;
}

.session-console .resources a {
	background-color: var(--color-primary-xlight);
	border: var(--border-thin);
	border-radius: var(--button-radius);
	box-shadow: var(--shadow);
	display: block;
	padding: 1rem;
}

.session-console .resources a:hover {
  background-color: var(--color-primary-light);
  transition: background-color 0.3s;
}