:root {
  --blue: #00468a;
  --blue-dark: #013088;
  --blue-xdark: #001b4d;
  --blue-light: #b5d7f0;
  --red: #8b2434;

  --color-primary: var(--blue);
  --color-primary-dark: var(--blue-dark);
  --color-primary-xdark: var(--blue-xdark);
  --color-primary-light: var(--blue-light);

  --color-accent: var(--red);
}

main {
  background-color: var(--color-primary-dark);
}

footer {
  background-image: url(/media/wave-bg.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100vw;
  padding: min(5vw, 5rem);
  position: relative;
}

.btn-primary {
  border: none;
  color: white;
}

.event-intro {
  background-color: var(--color-primary-dark);
  background-image: linear-gradient(to top, transparent 80%, rgba(0 0 0 / 20%));

  --m-top: 0;
}

.intro-deets {
  margin-top: -0.8em;
}

.event-intro > .buttony {
  margin: 1rem;
}

.help .help-toggle{
  left: 0;
  position: absolute;
  right: 0;
  width: auto;
}

.sponsors li:first-child {
  font-size: 2rem;
}

.sponsors li:first-child img {
  max-width: 700px;
}

.qa::after {
  background-color: #28346a;
  color: rgb(255 255 255 / 75%);
  content: "Q&A";
  display: grid;
  font-weight: 700;
  height: 3rem;
  left: 0.5em;
  place-content: center;
  position: absolute;
  top: 0.2em;
  width: 95%;
}

.event-intro h1 {
  margin-bottom: 1rem;
  text-align: center;
}

form.register {
  font-size: 1.2rem;
  margin-top: 2rem;
  max-width: 42rem;
}

textarea {
  border-radius: 3px;
  margin-top: 2rem;
  padding: 1em;
  width: 100%;
}

.work-radio {
  background-color: white;
  display: grid;
  grid-gap: 1rem;
  justify-items: start;
  padding: 2rem;
  width: 100%;
}

.work-radio h3 {
  color: black;
  margin: 0;
}

.work-radio label {
  text-align: left;
}
.work-radio[data-value="U.S. House Representative"] ~ [data-condition="U.S. House Representative"],
.work-radio[data-value="U.S. House Committee"] ~ [data-condition="U.S. House Committee"],
.work-radio[data-value="U.S. Senator"] ~ [data-condition="U.S. Senator"],
.work-radio[data-value="U.S. Senate Committee"] ~ [data-condition="U.S. Senate Committee"] {
  display: block;
}

.theoplayer-skin .vjs-big-play-button::after {
  background-color: var(--color-accent)!important;
  color: white!important;
}

.cal-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
}

.cal-links > .buttony {
  color: black;
  flex-grow: 1;
  margin: 0;
}

@media (max-width: 750px) {
  form.register {
    font-size: 1rem;
  }

  label:not(.focus-within) [name="Employer"]:not(.placeholder-shown) + .label-text {
    max-height: 1.5em;
    max-width: 10ch;
    overflow: hidden;
    text-align: left;
  }
}