.gate {
  padding: 5rem 5vw;
  text-align: center;
}

.gate > * {
  margin: auto;
  max-width: 40ch;
}

.gate h3 {
  font-size: 1.5rem;
  margin-top: 1em;
}

.gate .note {
  font-style: italic;
  margin: 1rem auto;
  text-align: center;
}

.gate[data-status="checkEmail"] #register,
.gate:not([data-status="checkEmail"]) #checkEmail,
.pre-vet,
.no-vet {
  display: none;
}

.pre-vet,
.no-vet {
  background: var(--color-primary-light);
  display: grid;
  grid-gap: 1rem;
  line-height: 1.2;
  padding: 2rem;
  text-align: center;
}

.gate:not([data-status="preVet"]) .pre-vet,
.gate:not([data-status="noVet"]) .no-vet {
  display: none;
}

.register label,
.register button {
  width: 100%;
}

.register button {
  margin-top: 2rem;
}

form:not([data-status="sending"]) button .spinner {
  display: none;
}

.gate[data-status="preVet"] input:valid {
  background-color: #d7ffd7;
}

.post-register {
  color: var(--white);
  margin: auto;
  max-width: 60ch;
  padding: 5rem;
}

.post-register * {
  text-align: left;
}

.post-register > * + * {
  margin-top: 2rem;
}

.post-register:not(.has-storage) .has-storage {
  display: none;
}

.post-register [data-field] {
  font-weight: 700;
}

[data-status="unverified"] .unverified-notice,
[data-status="rejected"] .reject-notice,
[data-status="retry"] .retry-notice,
[data-status="fail"] .fail-notice {
  display: block;
}

form .notice {
  background-color: var(--color-form-notice);
  padding: 1em;
}

.signin-page main {
  display: grid;
  min-height: 0;
  place-content: center;
}

form.signin button {
  min-width: 9rem;
}