/* List */
.sponsors {
  background-color: white;
  text-align: center;
  /* --img-multiplier: 3; */
}

/* .sponsor-level:nth-child(1) {
  --img-multiplier: 3;
}

.sponsor-level:nth-child(2) {
  --img-multiplier: 2;
}

.sponsor-level:nth-child(3) {
  --img-multiplier: 1.15;
}

.sponsor-level:nth-child(4) {
  --img-multiplier: 0.5;
} */

.sponsors h2,
.sponsors h3 {
  color: var(--black);
}

.sponsors h3 {
  border-bottom: 1px solid var(--shade);
  padding-bottom: 1rem;
}

.sponsors ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.sponsors li {
  align-items: center;
  display: grid;
  flex-basis: 300px;
  margin: 2rem;
}

.sponsors li.full-w {
  min-width: 90%;
}

.sponsors li.logo-square {
  flex-basis: 245px;
}

/* .sponsor-level + .sponsor-level {
  margin-top: 5rem;
}

.sponsors li {
  max-height: var(--max-img-h);
  max-width: var(--max-img-w);
  width: 100%;

  --max-img-h: calc(150px * var(--img-multiplier));
  --max-img-w: min(calc(300px * var(--img-multiplier)), 500px);
} */

[data-input=keyboard] .sponsors a:focus {
  outline: 5px solid var(--black);
  outline-offset: 15px;
}

.sponsors a:hover img {
  transform: translate3d(0, -3%, 0) scale3d(1.02, 1.02, 1.02);
  transition: transform 0.3s;
}

.sponsors img {
  margin: auto;
  max-height: 300px;
  max-width: 500px;
  object-fit: contain;
  transition: transform 0.1s;
  width: 100%;
}

.sponsors [data-orientation="landscape"] {
  max-height: none;
  max-width: calc(var(--max-img-w) * 0.8);
}

.sponsors figcaption {
  font-style: italic;
}

/* Page */
.sponsor-page main {
  background-color: white;
}

.sponsor-header {
  display: grid;
  padding: 8rem 2rem 2rem;
  place-items: center;
}

.sponsor-header .logo {
  max-width: 700px;
  width: 80vw;
}

.sponsor-header .logo img {
  margin: auto;
  max-height: 45vh;
  width: auto;
}

.sponsor-header .logo-landscape img[src$="svg"] {
  width: 100%;
}

.sponsor-page h2 {
  color: unset;
  font-size:  1.5em;
  margin-top: 1rem;
  max-width: 40ch;
}

.sponsor-intro {
  padding: 4rem 2vw;
}

.sponsor-intro p {
  max-width: 66ch;
}

.sponsor-video {
  margin: auto;
  max-width: 70ch;
  padding: min(2rem, 3vw);
  position: relative;
}

.video-wrap {
  background-color: var(--black);
  margin: auto;
  max-width: 70ch;
  outline: 5px solid var(--shade);
  padding-top: 56.25%;
  position: relative;
}

.sponsor-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sponsor-collateral {
  margin: 0 auto 5rem;
  max-width: 66ch;
  padding: 0;
  width: 90vw;
}

.sponsor-intro + .sponsor-collateral {
  max-width: 50ch;
}

.sponsor-collateral a {
  align-items: center;
  background-color: var(--color-primary-light);
  border: 2px solid var(--shade-light);
  display: flex;
  outline: 3px solid transparent;
  padding: 1rem 1rem 1rem 2rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: background-color 0.3s, outline-color 0.15s;
}

.sponsor-collateral a:hover,
.sponsor-collateral a:focus {
  background-color: white;
  outline-color: var(--shade-light);
}

.collateral-title {
  font-weight: 700;
  line-height: 1.2;
  max-width: calc(100% - 3em);
  opacity: 0.65;
}

.icon-file,
.icon-download {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 1.5em;
  top: 0;
  width: 1.5em;
}

.icon-file {
  --op: 0.5;
  --tY: 1em;
}

.icon-download {
  width: 1.45em;
  --op: 0.8;
  --tY: -1em;
}

.sponsor-collateral a:hover .icon-file,
.sponsor-collateral a:focus .icon-file,
.sponsor-collateral .icon-download {
  opacity: 0;
  transform: translate3d(50%, var(--tY), 0);
  transform-origin: center;
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: ease-out;
}

.sponsor-collateral .icon-file,
.sponsor-collateral a:hover .icon-download,
.sponsor-collateral a:focus .icon-download {
  opacity: var(--op);
  transform: translate3d(50%, 0, 0);
  transition: opacity 0.5s, transform 0.5s;
}

.sponsor-page main > article:last-of-type {
  padding-bottom: 8rem;
}

/* Session Page */

.session-page .sponsors {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.session-page .sponsors h2 {
  opacity: 0;
  position: absolute;
}

.session-page .sponsors ul {
  max-width: none;
}

.session-page .sponsors li {
  flex-basis: 250px;
  /* flex-grow: 1; */
  margin: 2rem;
  min-width: 0;
}

.session-page .sponsors .logo-square {
  flex-basis: 185px;
}

.session-page .sponsors figcaption {
  display: none;
}

@media (min-width: 1200px) {

  .session-page .sponsors ul {
    flex-wrap: nowrap;
  }

  .session-page .sponsors .logo-square {
    flex-basis: 185px;
  }
}